# my_complete_config.yaml
mixed-port: 7890
allow-lan: false
mode: rule
log-level: info
# external-controller: 127.0.0.1:9090

# Server info for shadowsocks
proxies:
  - name: MyVlessReality   # Your connection name
    type: vless            # Protocol type
    server: your_server_ip # Your server IP (NOT domain!)
    port: your_vless_port  # Port configured in 3x-ui for VLESS/Reality
    udp: true # If UDP is needed
    uuid: your_user_uuid   # User UUID from 3x-ui
    flow: xtls-rprx-vision
    # packet-encoding: xudp

    # Client parameters for XTLS Reality
    tls: true              # Enable TLS (mandatory for Reality)
    servername: target_domain_com # "Fake" domain (e.g., www.microsoft.com) specified in 3x-ui (in serverNames/SNI field)
    alpn:                  # Application Layer Protocol Negotiation (for masking)
      - h2
      - http/1.1
    client-fingerprint: chrome # or firefox, safari, etc. (TLS client fingerprint)
    skip-cert-verify: true  # Skip certificate verification (set to true for Reality)
    reality-opts:
      public-key: your_reality_public_key # Public key generated in 3x-ui
      short-id: your_reality_short_id   # Short ID (shortId) generated in 3x-ui (if used)

    network: tcp           # Transport - always tcp for Reality

# Groups definition
proxy-groups:
  - name: PROXY
    type: select
    proxies:
      - MyVlessReality

  - name: OTHER
    type: select
    proxies:
      - DIRECT
      - PROXY

# Rule provider definition
rule-providers:
  proxy_domains:
    behavior: classical
    type: http
    url: "https://raw.githubusercontent.com/ErrOzz/clash-proxy-rules-gen/refs/heads/main/clash_proxy_rules.yaml"
    interval: 3600 # Update time 1 hour
    path: ./proxy_domains.yaml # Lockal rule file name

# Rules list
rules:
  - IP-CIDR,10.0.0.0/24,DIRECT
  - IP-CIDR,100.64.0.0/22,DIRECT
  - IP-CIDR,172.16.0.0/20,DIRECT
  - IP-CIDR,192.168.0.0/16,DIRECT
  - DOMAIN-SUFFIX,local,DIRECT
  - DOMAIN-SUFFIX,localhost,DIRECT

  - RULE-SET,proxy_domains,PROXY

  # - GEOIP,RU,DIRECT

  - MATCH,OTHER

